<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dyzn.csxc.yiliao.bluetooth">
    <application
        android:name=".core.BluetoothApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/blue_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/base_AppTheme"
        tools:ignore="AllowBackup,MissingApplicationIcon,RtlEnabled"
        tools:targetApi="donut">
        <activity android:name=".view.BluetoothActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.connect.BluetoothConnectActivity"/>
    </application>
</manifest>